<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv='X-UA-Compatible' content="IE=edge">
  <meta name='viewport' content='widht=device-width, initial-scale=1'>
  <title>WeNote!</title>
  <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static 'base.css' %}">
</head>

<body>
  <div class='container'>
    <div class="row justify-content-center">
      <div class="col-8 jumbotron">
        <div class="text-center">
          <h1 class='display-4'>{% block header_text %}{% endblock header_text %}</h1>
          <form action="{% block form_action %}{% endblock form_action %}" method="POST">
            <input class='form-control-lg' name='note_text' type="text" id="id_new_note" placeholder="Make a new note">
            {% csrf_token %}
          </form>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      {% block paragraph %}
      {% endblock paragraph %}
    </div>
  </div>
</body>

</html>